body {
    background-color: blanchedalmond;
}

hr{
    
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 10%;
}

h3
{
    color: aqua;
}

h1
{
    color: red;
}

.insta{
    height: 70px;
}